In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alvir\anaconda3\lib\site-packages (4.15.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alvir\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\alvir\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alvir\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alvir\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\alvir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\alvir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\alvir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\alvir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio in c:\users\alvir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\alvir\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\alvir\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alvir\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alvir\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alvir\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium

In [4]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
driver=webdriver.Chrome()

In [6]:
driver.get("https://www.shine.com/")

In [8]:
designation=driver.find_element(By.CLASS_NAME,"searchBarInput")
designation.send_keys('Data Analyst')

In [414]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [415]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [516]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [517]:
title_tags = driver.find_elements(By.XPATH, "//div/h2[@itemprop='name']")
for title_tag in title_tags[:10]:
    title = title_tag.text
    job_title.append(title)

In [518]:
print(job_title)

['Data Analyst Vacancy', 'Data Analyst Vacancy', 'Clinical Data Analyst', 'Data Analyst Urgent Recruitment', 'Data Analyst Urgent Recruitment', 'Data Analyst Urgent Recruitment', 'Data Analyst 1', 'Clinical Data Analyst', 'Hiring For Data Analyst', 'Data Analyst']

In [519]:
location_tags = driver.find_elements(By.XPATH, "//div[contains(@class, 'YxRkV jobCard_locationIcon')]")

for location_tag in location_tags[0:10]:
    location = location_tag.text.strip()
    clean_location = location.split('+')[0].strip()
    job_location.append(clean_location)

for loc in job_location:
    print(loc)

Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore

In [520]:
company_tags = driver.find_elements(By.XPATH, "//div[contains(@class, 'jobCard_jobCard_cName__mYnow')]/span")

for company_tag in company_tags[0:10]:
    company = company_tag.text.strip()
    company_name.append(company)

print(company_name)

['divya interprises', 'divya interprises', 'quiscon biotech', 'divya interprises', 'divya interprises', 'divya interprises', 'merck ltd', 'techno endura', 'divya interprises', 'v-tech data outsourcing']

In [521]:
experience_tags = driver.find_elements(By.XPATH, "//div[contains(@class, 'jobCard_jobIcon')]")
for experience_tag in experience_tags[0:10]:
    experience = experience_tag.text.strip()  
    experience_required.append(experience)

In [522]:
print(experience_required)

['0 to 4 Yrs', '0 to 4 Yrs', '0 to 2 Yrs', '0 to 4 Yrs', '0 to 4 Yrs', '0 to 4 Yrs', '1 to 3 Yrs', '0 to 1 Yr', '0 to 4 Yrs', '0 to 2 Yrs']

In [523]:
import pandas as pd

In [524]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [525]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})

In [526]:
df

,Title,Location,Company_name,Experience
0,Data Analyst Vacancy,Bangalore,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore,techno endura,0 to 1 Yr
8,Hiring For Data Analyst,Bangalore,divya interprises,0 to 4 Yrs
9,Data Analyst,Bangalore,v-tech data outsourcing,0 to 2 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [532]:
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [533]:
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')

In [534]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [535]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [536]:
job_title=[]
job_location=[]
company_name=[]

In [537]:
title_tags1 = driver.find_elements(By.XPATH, "//div/h2[@itemprop='name']")
for title_tag in title_tags1[:10]:
    title = title_tag.text
    job_title.append(title)

In [538]:
print(job_title)

['Data Scientist Vacancy', 'Data Scientist Urgent Recruitment', 'Data Scientist- Bangalore', 'Data Scientist-Bangalore', 'Hiring For Data Scientist', 'Data Scientist', 'Data scientist', 'Data Scientist - Bangalore', 'Data Scientist', 'Data Scientist']

In [539]:
location_tags1 = driver.find_elements(By.XPATH, "//div[contains(@class, 'YxRkV jobCard_locationIcon')]")

for location_tag in location_tags1[0:10]:
    location = location_tag.text.strip()
    clean_location = location.split('+')[0].strip()
    job_location.append(clean_location)

for loc in job_location:
    print(loc)

Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore
Bangalore

In [540]:
company_tags1 = driver.find_elements(By.XPATH, "//div[contains(@class, 'jobCard_jobCard_cName__mYnow')]/span")

for company_tag in company_tags1[0:10]:
    company = company_tag.text.strip()
    company_name.append(company)

print(company_name)

['divya interprises', 'divya interprises', 'the fashion cosmo', 'shiva hr services', 'divya interprises', 'racanaa energy solution private lim...', 'capgemini technology services india...', 'deuglo infosystem private limited', 'mnr solutions pvt ltd', 'mnr solutions pvt ltd']

In [544]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [545]:
df1=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name})

In [546]:
df1

,Title,Location,Company_name
0,Data Scientist Vacancy,Bangalore,divya interprises
1,Data Scientist Urgent Recruitment,Bangalore,divya interprises
2,Data Scientist- Bangalore,Bangalore,the fashion cosmo
3,Data Scientist-Bangalore,Bangalore,shiva hr services
4,Hiring For Data Scientist,Bangalore,divya interprises
5,Data Scientist,Bangalore,racanaa energy solution private lim...
6,Data scientist,Bangalore,capgemini technology services india...
7,Data Scientist - Bangalore,Bangalore,deuglo infosystem private limited
8,Data Scientist,Bangalore,mnr solutions pvt ltd
9,Data Scientist,Bangalore,mnr solutions pvt ltd

Q3: In this question you have to scrape data using the filters available on the webpage
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata

In [663]:
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [683]:
designation=driver.find_element(By.CLASS_NAME,"searchBarInput")
designation.send_keys('Data Scientist')

In [671]:
advanced_search_button = driver.find_element(By.XPATH, "//button[contains(text(),'Advanced Search')]")
advanced_search_button.click()

In [681]:
find_location = driver.find_element(By.ID, "id_loc")
find_location.send_keys('Delhi/NCR')

In [682]:
find_salary= driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[2]/li[1]/div/input[1]")
find_salary.send_keys('3-6 lakhs')

In [684]:
finalsearch=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
finalsearch.click()

In [701]:
job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]

In [702]:
title_tags = driver.find_elements(By.XPATH, "//h2[@itemprop='name']")

In [703]:
for title_tag in title_tags[:10]:
    title = title_tag.text
    job_title1.append(title)

In [704]:
print(job_title1)

['Data Scientists 2024', 'Data Scientist Vacancy', 'Data Scientist Vacancy', 'Data Scientist Vacancy', 'Data Scientist Management Consulting Mumbai', 'Data Scientist Urgent Recruitment', 'Data Scientist Urgent Recruitment', 'Data Scientist Urgent Recruitment', 'Senior Data Scientist', 'Data Scientist- Madhya Pradesh']

In [707]:
location_tags2 = driver.find_elements(By.XPATH, "//div[contains(@class, 'jobCard_locationIcon')]")

for location_t in location_tags2[0:10]:
    location = location_t.text.strip()
    clean_location1 = location.split('+')[0].strip()
    job_location1.append(clean_location1)

for loca in job_location1:
    print(loca)

Coimbatore
Oman
Oman
Oman
Mumbai City
Oman
Oman
Oman
Chennai
Other Madhya Pradesh

In [708]:
company_tags2 = driver.find_elements(By.XPATH, "//div[contains(@class, 'jobCard_jobCard_cName__mYnow')]/span")

for company_tag in company_tags2[0:10]:
    company = company_tag.text.strip()
    company_name1.append(company)

print(company_name1)

['bosch group', 'divya interprises', 'divya interprises', 'divya interprises', 'morpheus human consulting pvt ltd', 'divya interprises', 'divya interprises', 'divya interprises', 'pfizer limited', 'the fashion cosmo']

In [709]:
experience_tags2 = driver.find_elements(By.XPATH, "//div[contains(@class, 'jobCard_jobIcon')]")
for experience_tag in experience_tags2[0:10]:
    experience = experience_tag.text.strip()  
    experience_required1.append(experience)

In [710]:
print(experience_required1)

['0 to 4 Yrs', '0 to 4 Yrs', '0 to 4 Yrs', '0 to 4 Yrs', '2 to 4 Yrs', '0 to 4 Yrs', '0 to 4 Yrs', '0 to 4 Yrs', '7 to 9 Yrs', '0 to 3 Yrs']

In [711]:
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1))

10 10 10 10

In [712]:
df2=pd.DataFrame({'Title':job_title1,'Location':job_location1,'Company_name':company_name1,'Experience':experience_required1})

In [713]:
df2

,Title,Location,Company_name,Experience
0,Data Scientists 2024,Coimbatore,bosch group,0 to 4 Yrs
1,Data Scientist Vacancy,Oman,divya interprises,0 to 4 Yrs
2,Data Scientist Vacancy,Oman,divya interprises,0 to 4 Yrs
3,Data Scientist Vacancy,Oman,divya interprises,0 to 4 Yrs
4,Data Scientist Management Consulting Mumbai,Mumbai City,morpheus human consulting pvt ltd,2 to 4 Yrs
5,Data Scientist Urgent Recruitment,Oman,divya interprises,0 to 4 Yrs
6,Data Scientist Urgent Recruitment,Oman,divya interprises,0 to 4 Yrs
7,Data Scientist Urgent Recruitment,Oman,divya interprises,0 to 4 Yrs
8,Senior Data Scientist,Chennai,pfizer limited,7 to 9 Yrs
9,Data Scientist- Madhya Pradesh,Other Madhya Pradesh,the fashion cosmo,0 to 3 Yrs

Q4) Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.

In [91]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [93]:
designation1=driver.find_element(By.CLASS_NAME, "Pke_EE")
designation1.send_keys('sunglasses')

In [94]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [179]:
brand_title=[]
product_description=[]
product_price=[]
discount_percent=[]

In [170]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.CLASS_NAME, "_2WkVRV")
    for i in titles[0:100]:
        brand_title.append(i.text)
        if len(brand_title) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(3)

In [171]:
print(len(brand_title))

100

In [180]:
start=0
end=3
for page in range(start,end):
    product=driver.find_elements(By.CLASS_NAME, "IRpwTa")
    for i in product[0:100]:
        product_description.append(i.text)
        if len(product_description) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(3)

In [181]:
print(len(product_description))

100

In [182]:
start=0
end=3
for page in range(start,end):
    value=driver.find_elements(By.CLASS_NAME, "_30jeq3")
    for i in value[0:100]:
        product_price.append(i.text)
        if len(product_price) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(3)

In [183]:
print(len(product_price))

100

In [184]:
start=0
end=3
for page in range(start,end):
    disc=driver.find_elements(By.CLASS_NAME, "_3I9_wc")
    for i in disc[0:100]:
        discount_percent.append(i.text)
        if len(discount_percent) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(3)

In [185]:
print(len(discount_percent))

100

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKARTQ5)

In [703]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [704]:
designation1=driver.find_element(By.CLASS_NAME, "Pke_EE")
designation1.send_keys('iphone11')

In [705]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [712]:
search1=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[10]/div/div/div/a/div[2]/div[1]/div[1]')
search1.click()

In [713]:
Rating=[]    #Unable to get 100 - not sure why, even the next button works perfectly for the others but not for this one
start=0
end=17
for page in range(start,end):
     Si=driver.find_elements(By.XPATH, '//div[contains(@class, "_1BLPMq")]')
for i in Si[0:100]:
    Rating.append(i.text)
    if len(Rating) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(10)
print(len(Rating))
print(Rating)

6
['5', '5', '5', '5', '5', '5']

In [612]:
Review_Summary=[]
start=0
end=17
for page in range(start,end):
    vi=driver.find_elements(By.CLASS_NAME, "_2-N8zT")
    for i in vi[0:100]:
        Review_Summary.append(i.text)
        if len(Review_Summary) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, "_1LKTO3")
next_button.click()
time.sleep(3)
print(Review_Summary)

['Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!', 'Wonderful', 'Great product', 'Highly recommended', 'Excellent', 'Highly recommended', 'Perfect product!']

In [613]:
print(len(Review_Summary))

100

In [645]:
Full_Summary=[]
start=0
end=17
for page in range(start,end):
    ti=driver.find_elements(By.CLASS_NAME, "t-ZTKy")
    for i in ti[0:100]:
        Full_Summary.append(i.text)
        if len(Full_Summary) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, "_1LKTO3")
next_button.click()
time.sleep(3)
print(Full_Summary)

['Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat', 'I bought during the big billion sale. It’s worth every penny. First iOS user and overwhelmed. The photos are much better than my mirror less camera. If you g...\nRead full review', 'Awesome product ❤️❤️\nThank you Flipkart', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'This phone is perfect for photos and all', 'Battery - more or less 2 days\nCamera - can now perform very good in low light (night )\nHeating- no heating for 15+ days\nCharging- Quick charger ( which now c...\nRead full review', 'Nice products thanks flkat']

In [646]:
print(len(Full_Summary))

100

Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [220]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [221]:
designation1=driver.find_element(By.CLASS_NAME, "Pke_EE")
designation1.send_keys('sneakers')

In [222]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [244]:
brand_name=[]
productdescription=[]
productprice=[]

In [245]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.CLASS_NAME, "_2WkVRV")
    for i in brand[0:100]:
        brand_name.append(i.text)
        if len(brand_name) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(3)

In [246]:
print(len(brand_name))

100

In [247]:
start=0
end=3
for page in range(start,end):
    product=driver.find_elements(By.CLASS_NAME, "IRpwTa")
    for i in product[0:100]:
        productdescription.append(i.text)
        if len(productdescription) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(3)

In [248]:
print(len(productdescription))

100

In [249]:
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.CLASS_NAME, "_30jeq3")
    for i in price[0:100]:
        productprice.append(i.text)
        if len(productprice) >= 100:
            break
next_button=driver.find_element(By.CLASS_NAME, '_1LKTO3')
next_button.click()
time.sleep(3)

In [250]:
print(len(productprice))

100

In [251]:
df7=pd.DataFrame({'brand':brand_name,'product':productdescription,'price':productprice})

In [252]:
df7

              brand                                            product   price
0            BRUTON                            sports Sneakers For Men    ₹497
1            BRUTON                                   Sneakers For Men    ₹497
2          URBANBOX                  Court Ultra Lite Sneakers For Men    ₹299
3            Layasa                                   Sneakers For Men    ₹299
4              aadi               Modern Trendy Shoes Sneakers For Men    ₹289
..              ...                                                ...     ...
95             PUMA  Lifestyle Sneaker Shoes for Men | Soft Cushion...    ₹497
96            Krors                             OG-D4 Sneakers For Men  ₹1,187
97           VENDOZ  Lightweight,Comfort,Summer,Trendy,Walking,Outd...  ₹1,899
98         RED TAPE                         Hustle V2 Sneakers For Men    ₹299
99  U.S. POLO ASSN.  Casual Sneakers for Women | Shock Absorbant, S...    ₹362

[100 rows x 3 columns]

Q7) Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [295]:
driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [296]:
designation1=driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation1.send_keys('Laptop')

In [297]:
search=driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [300]:
click_filter=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[10]/li/span/a/div")
click_filter.click()

In [432]:
Name=[]
Rating=[]
Price=[]

In [433]:
title_tags = driver.find_elements(By.XPATH, "//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

for title_tag in title_tags[:10]:
    title = title_tag.text
    Name.append(title)

In [434]:
print(Name)

['MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN', 'ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/512GB SSD/Windows 11/90WHrs Battery/Black/2.30 Kg), FX506HE-HN382W', 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS', 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU', 'ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, 4GB NVIDIA GeForce RTX 3050, Gaming Laptop (16GB/1TB SSD/Windows 11/90WHrs Battery/Gray/2.20 Kg), FX577ZC-HN192W', 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN', 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce GTX 1650, GDDR6 4GB/Black/1.8Kg), 11SC-1462IN', 'Acer Aspire Lite Premium Metal Laptop 11th Gen Intel Core Ci7-1165G7 Thin and Light Laptop (Windows 11 Home/16GB RAM/1TB SSD/MS Office) AL15-51, 39.62cm (15.6") Full HD Display, Steel Gray, 1.59 KG', 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN', 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop  (15.6 Inch, Silver, 1.58 Kg, with MS Office)']

In [437]:
print(len(Name))

10

In [438]:
rating_stars = driver.find_elements(By.XPATH,"//span[contains(@aria-label, 'out of 5 stars')]")
for rating_star in rating_stars[:10]:
    rating = rating_star.get_attribute('aria-label')
    Rating.append(rating)

print(Rating)

['3.8 out of 5 stars', '4.2 out of 5 stars', '3.9 out of 5 stars', '3.4 out of 5 stars', '4.2 out of 5 stars', '3.7 out of 5 stars', '4.1 out of 5 stars', '3.4 out of 5 stars', '3.9 out of 5 stars', '4.3 out of 5 stars']

In [439]:
print(len(Rating))

10

In [441]:
price_ratings = driver.find_elements(By.XPATH,'//span[contains(@class, "a-price-whole")]')
for price_rating in price_ratings[:10]:
    prices = price_rating.text
    Price.append(prices)

print(Price)

['49,990', '68,990', '60,990', '63,990', '85,990', '52,990', '57,990', '47,990', '64,990', '84,390']

In [442]:
print(len(Price))

10

In [443]:
import pandas as pd
df6=pd.DataFrame({'Product Name':Name,'Rating':Rating, 'Price':Price})

In [444]:
df6

,Product Name,Rating,Price
0,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...",3.8 out of 5 stars,"49,990"
1,"ASUS TUF Gaming F15, 15.6""(39.62 cms) FHD 144H...",4.2 out of 5 stars,"68,990"
2,"ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...",3.9 out of 5 stars,"60,990"
3,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...",3.4 out of 5 stars,"63,990"
4,"ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...",4.2 out of 5 stars,"85,990"
5,Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...,3.7 out of 5 stars,"52,990"
6,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",4.1 out of 5 stars,"57,990"
7,Acer Aspire Lite Premium Metal Laptop 11th Gen...,3.4 out of 5 stars,"47,990"
8,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...",3.9 out of 5 stars,"64,990"
9,Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...,4.3 out of 5 stars,"84,390"

Q8)Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Then scrap a) Quote b) Author c) Type Of Quotes

In [504]:
driver=webdriver.Chrome()
driver.get("https://www.azquotes.com")

In [510]:
click_button = driver.find_element(By.XPATH, "//a[@id='showhide']")
click_button.click()

In [511]:
top_quotes = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [541]:
Quote=[]
Author=[]
Type_of_Quote=[]

In [542]:
start=0
end=10
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//a[contains(@class, 'title')]")
    for i in title [0:1000]:
        Quote.append(i.text)
        if len(Quote) >= 1000:
            break
next_button=driver.find_element(By.XPATH, "//li[contains(@class,'next')]/a")
next_button.click()
time.sleep(3)
print(len(Quote))

1000

In [549]:
start=0
end=10
for page in range(start,end):
    auth=driver.find_elements(By.XPATH,"//div[contains(@class, 'author')]/a")
    for a in auth [0:1000]:
        Author.append(a.text)
        if len(Author) >= 1000:
            break
next_button=driver.find_element(By.XPATH, "//li[contains(@class,'next')]/a")
next_button.click()
time.sleep(5)
print(len(Author))

1000

In [550]:
start=0
end=10
for page in range(start,end):
    qot=driver.find_elements(By.XPATH,'//div[contains(@class, "tags")]')
    for q in qot [0:1000]:
        Type_of_Quote.append(q.text)
        if len(Type_of_Quote) >= 1000:
            break
next_button=driver.find_element(By.XPATH, "//li[contains(@class,'next')]/a")
next_button.click()
time.sleep(5)
print(len(Type_of_Quote))

1000

In [551]:
df10=pd.DataFrame({'Quote':Quote,'Author':Author,'Type':Type_of_Quote})
df10

,Quote,Author,Type
0,"If music be the food of love, play on, Give me...",Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,Eighty percent of success is showing up.,Golda Meir,"Inspiration, Past, Trying"
2,Marriage: If you want something to last foreve...,Theodore Roosevelt,"Country, Peace, War"
3,A hero is an ordinary individual who finds the...,Nelson Mandela,"Inspirational, Motivational, Death"
4,Our dilemma is that we hate change and love it...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"There are three constants in life... change, c...",Hunter S. Thompson,"Music, Sports, Hunting"
996,"Young people need models, not critics.",Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,Advice is what we ask for when we already know...,Dalai Lama,"Inspirational, Funny, Change"
998,The great use of life is to spend it for somet...,Mother Teresa,"Success, God, Mother"
999,Clear thinking requires courage rather than in...,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [ ]:
Q9)Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [552]:
driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")  
#Note: All the codes work, please be patient, it just takes a while to load the website due to horrible number of ads.

In [555]:
findgk_link = driver.find_element(By.XPATH, "/html/body/div[1]/div[20]/section[1]/div/ul/li[1]/span/a")
findgk_link.click()
#Note: All the codes work, please be patient, it just takes a while to load the website due to horrible number of ads.

In [557]:
find_pm=driver.find_element(By.XPATH, "/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
find_pm.click()
#Note: All the codes work, please be patient, it just takes a while to load the website due to horrible number of ads.

In [71]:
names=[]

In [558]:
look_table = driver.find_element(By.XPATH, '//table/tbody')
look_names = look_table.find_elements(By.XPATH, './tr/td[2]')

names = [look.text.strip() for look in look_names]

print(names)

['Jawahar Lal Nehru', 'Gulzarilal Nanda (Acting)', 'Lal Bahadur Shastri', 'Gulzari Lal Nanda  (Acting)', 'Indira Gandhi', 'Morarji Desai', 'Charan Singh', 'Indira Gandhi', 'Rajiv Gandhi', 'V. P. Singh', 'Chandra Shekhar', 'P. V. Narasimha Rao', 'Atal Bihari Vajpayee', 'H. D. Deve Gowda', 'Inder Kumar Gujral', 'Atal Bihari Vajpayee', 'Manmohan Singh', 'Narendra Modi', 'Narendra Modi']

In [80]:
df4=pd.DataFrame({'PM of India':names})

In [81]:
df4

                    PM of India
0             Jawahar Lal Nehru
1     Gulzarilal Nanda (Acting)
2           Lal Bahadur Shastri
3   Gulzari Lal Nanda  (Acting)
4                 Indira Gandhi
5                 Morarji Desai
6                  Charan Singh
7                 Indira Gandhi
8                  Rajiv Gandhi
9                   V. P. Singh
10              Chandra Shekhar
11          P. V. Narasimha Rao
12         Atal Bihari Vajpayee
13             H. D. Deve Gowda
14           Inder Kumar Gujral
15         Atal Bihari Vajpayee
16               Manmohan Singh
17                Narendra Modi
18                Narendra Modi

Q10) Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [ ]:
class="m1-search-panel-input m1-search-form-text"

In [689]:
driver=webdriver.Chrome()
driver.get("https://www.motor1.com/")

In [690]:
search_link = driver.find_element(By.ID, "search_input")
search_link.send_keys('50 most expensive cars')

In [691]:
search=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [692]:
driver=webdriver.Chrome()
driver.get("https://www.motor1.com/features/308149/most-expensive-new-cars-ever/")

In [ ]:
After this process, the website states "The content you are looking for doesn't exist yet. To continue, try other site section.
Sorry to disappoint you."
This means I am unable to extract any information

In [696]:
Car_Name=[]
Name_Car = driver.find_elements(By.CLASS_NAME,'subheader')
for car_n in Name_Car[:50]:
    name = car_n.text
    Car_Name.append(name)

print(Car_Name)

['Aston Martin Valour', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'Ferrari Daytona SP3', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Zenvo Aurora', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Pininfarina B95 Speedster', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', '777 Hypercar', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*', 'Rolls-Royce La Rose Noire Droptail']

In [698]:
Car_Price=[]
Price_Car = driver.find_elements(By.XPATH, '//p/strong')
for car_p in Price_Car[:50]:
    price = car_p.text
    Car_Price.append(price)

print(Car_Price)

['Price: $1.5 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $2.8 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $4.8 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $7.5 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $10.8 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)', 'Price: $30 Million (est.)']

In [699]:
df11=pd.DataFrame({'Name':Car_Name,'Price':Car_Price})

In [700]:
df11

                                  Name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)